<ion-view title="Page">
    <ion-content padding="'true'" class="has-header">
        <button class="button button-stable button-block ">Tap me!</button>
        <button class="button button-stable button-block ">Tap me!</button>
        <button class="button button-stable button-block ">Tap me!</button>
        <button class="button button-stable button-block ">Tap me!</button>
        <button class="button button-stable button-block ">Tap me!</button>
        <button class="button button-stable button-block ">Tap me!</button>
        <button class="button button-stable button-block ">Tap me!</button>
        <button class="button button-stable button-block ">Tap me!</button>
    </ion-content>
</ion-view>