<ion-view title="Laboratorio 5">
    <ion-content padding="'true'" class="has-header">
        <button class="button button-light button-block ">button Lightn</button>
        <button class="button button-dark button-block ">button dark</button>
        <button class="button button-positive button-block ">button positive</button>
        <button class="button button-balanced button-block ">button balanced</button>
        <button class="button button-assertive button-block ">button assertive</button>
        <button class="button button-calm button-block ">button calm</button>
        <button class="button button-energized button-block ">button energixed</button>
        <button class="button button-royal button-block ">button royal</button>
    </ion-content>
</ion-view>