<ion-view title="Cards">
    <ion-content padding="'true'" class="has-header">
        <div class="list card">
            <div class="item item-divider">Card One</div>
            <div class="item item-body"></div>
        </div>
        <div class="list card">
            <div class="item item-divider">Card Two</div>
            <div class="item item-body"></div>
        </div>
        <div class="list card">
            <div class="item item-divider">Card Three</div>
            <div class="item item-body"></div>
        </div>
    </ion-content>
</ion-view>