<ion-view title="Forms">
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <label class="item item-input" name="nombre">
                <span class="input-label">Nombre</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" name="apellido">
                <span class="input-label">Apellido</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input" name="correo">
                <span class="input-label">Correo</span>
                <input type="text" placeholder="">
            </label>
        </form>
    </ion-content>
</ion-view>