<ion-view title="Home">
    <ion-content padding="'true'" class="has-header">
        <a menu-close="" href="#/cards" class="button button-light button-block  icon ion-videocamera">Cards</a>
        <a menu-close="" href="#/forms" class="button button-dark button-block  icon-left ion-android-add">Forms</a>
        <a menu-close="" href="#/toggle" class="button button-positive button-block  icon-right ion-android-apps">Toggle</a>
        <a menu-close="" href="#/actionsheet" class="button button-balanced button-block  icon ion-android-arrow-back">Action Sheet</a>
        <a menu-close="" href="#/modal" class="button button-assertive button-block  icon ion-android-desktop">Modal</a>
        <a menu-close="" href="#/popup" class="button button-calm button-block  icon-left ion-android-chat">Popup</a>
        <a menu-close="" href="#/event" class="button button-energized button-block  icon-right ion-android-cloud">Event</a>
        <div class="button-bar">
            <a menu-close="" href="#/checks" class="button button-stable button-block ">Checks</a>
            <a menu-close="" href="#/range" class="button button-stable button-block ">Range</a>
            <a menu-close="" href="#/radio" class="button button-stable button-block  icon ">Radio</a>
        </div>
    </ion-content>
</ion-view>