<ion-view title="Range">
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <ion-item class="range range-stable">Range One
                <input ng-model="value" type="range" value="50" min="0" max="100" name="range1">
            <h1>{{ value }}</h1>
            </ion-item>
            <ion-item class="range range-calm">Range Two
                <input type="range" value="50" min="0" max="100" name="range2">
            </ion-item>
            <ion-item class="range range-royal">Range Three
                <input type="range" value="50" min="0" max="100" name="range3">
            </ion-item>
            
        </form>
    </ion-content>
</ion-view>